# dependencies
/node_modules

# Next.js build output
/.next
/out
/playwright-report/
/test-results/

# TypeScript incremental build cache
*.tsbuildinfo

# local environment files
.env*
!.env.example

# local mock database runtime
/.linkzzz-data/
/public/uploads/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

/src/generated/prisma
